.map-container {
  height: auto;
  position: relative;
  width: 100%; 
}
.map-container svg {
  width: 100%;
  height: auto;
}
.map-container svg path {
  transition: all 0.3s ease-in-out;
  padding: 30px;
}
.map-container svg .hoverable {
  cursor: pointer;
}
.map-container svg .hoverable:hover {
  transform: scale3d(1.003, 1.0, 1) perspective(10px);
  stroke-width: 3px;
  z-index: 999;
}
.tooltip-container {
  position: absolute;
  background: rgba(33, 34, 39, 1);
  color: #fff;
  padding: 12px 16px;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  border-radius: 4px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
}
.tooltip-children-container {
  display: flex;
  width: 100%;
  height: auto
}