.map-container {
  height: auto;
  position: relative;
  width: 100%; 
}
.map-container svg {
  width: 100%;
  height: auto;
}
.map-container svg path {
  transition: all 0.3s ease-in-out;
  padding: 30px;
}
.map-container svg .hoverable {
  cursor: pointer;
}
.map-container svg .hoverable:hover {
  stroke-width: 5px;
  z-index: 999;
}
.tooltip-container {
  position: absolute;
  transition: all 0.3s linear;
  pointer-events: none;
}
.tooltip-default {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  background: rgba(33, 34, 39, 1);
  color: #fff;
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
}
.tooltip-default h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}
.tooltip-default p {
  margin: 0;
  font-size: 16px;
}
.tooltip-children-container {
  display: flex;
  width: 100%;
  height: auto
}